# Steps import data
pip intall sklearn

In [ ]:
!pip install GetOldTweets3

In [ ]:
pip3 install sklearn

In [1]:

import GetOldTweets3 as got
import pandas as pd

In [128]:
df=pd.read_excel("tweets.xlsx",header=None)

In [129]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,Tweet Id,Text,Name,Screen Name,UTC,Created At,Favorites,Retweets,Language,Client,Tweet Type,URLs,Hashtags,Mentions,Media Type,Media URLs,NaN,NaN,NaN
1,1377618168705859585,Model 3 deliveries in Europe https://t.co/fiBN...,Tesla,Tesla,2021-04-01T13:45:40.000Z,Thu Apr 01 13:45:40 +0000 2021,24152,1625,da,"<a href=""http://twitter.com/download/iphone"" r...",Tweet,NaN,0,0,photo,https://pbs.twimg.com/media/Ex5IasZXMA4cVD8.jpg,https://pbs.twimg.com/media/Ex5IasiW8AAMVRk.jpg,https://pbs.twimg.com/media/Ex5IasoWUA0jdCg.jpg,https://pbs.twimg.com/media/Ex5IaslWgAc97h_.jpg
2,1375118425362628613,"6,000+ Superchargers across Europe â€” at 600 lo...",Tesla,Tesla,2021-03-25T16:12:35.000Z,Thu Mar 25 16:12:35 +0000 2021,51615,4339,en,"<a href=""http://twitter.com/download/iphone"" r...",Tweet,NaN,0,3,photo,https://pbs.twimg.com/media/ExVm6fuWUAQUFOh.jpg,https://pbs.twimg.com/media/ExVm6fvW8AIjLDy.jpg,https://pbs.twimg.com/media/ExVm6fwWgAgTDPa.jpg,https://pbs.twimg.com/media/ExVm6frWUAcr1EH.jpg
3,1374481774714126338,RT @Fogdo : Thank you @Tesla for this helpful ...,Tesla,Tesla,2021-03-23T22:02:46.000Z,Tue Mar 23 22:02:46 +0000 2021,0,0,en,"<a href=""http://twitter.com/download/iphone"" r...",Retweet,NaN,0,1,video,https://video.twimg.com/ext_tw_video/117068847...,NaN,NaN,NaN
4,1371884988371771399,Backseat views from Model Y\n\nðŸ“¸ by loghi007 o...,Tesla,Tesla,2021-03-16T18:04:04.000Z,Tue Mar 16 18:04:04 +0000 2021,44971,4112,en,"<a href=""http://twitter.com/download/iphone"" r...",Tweet,NaN,0,0,video,https://video.twimg.com/ext_tw_video/137188490...,NaN,NaN,NaN

In [130]:
cols = [0,1,5,6]
df = df[df.columns[cols]]

#Tweet Id 	Text 	Name 	Screen Name 	UTC 	Created At 	Favorites 	Retweets 	Language 	Client 	Tweet Type 	URLs 	Hashtags 	Mentions 	Media Type 	Media URLs 	NaN 	NaN

In [131]:
df.head()

,0,1,5,6
0,Tweet Id,Text,Created At,Favorites
1,1377618168705859585,Model 3 deliveries in Europe https://t.co/fiBN...,Thu Apr 01 13:45:40 +0000 2021,24152
2,1375118425362628613,"6,000+ Superchargers across Europe â€” at 600 lo...",Thu Mar 25 16:12:35 +0000 2021,51615
3,1374481774714126338,RT @Fogdo : Thank you @Tesla for this helpful ...,Tue Mar 23 22:02:46 +0000 2021,0
4,1371884988371771399,Backseat views from Model Y\n\nðŸ“¸ by loghi007 o...,Tue Mar 16 18:04:04 +0000 2021,44971

In [132]:
import sklearn

In [133]:
from sklearn.tree import DecisionTreeClassifier

# clean data

In [162]:
import nltk
import re
import pandas as pd
import numpy as np
import string

In [163]:
df = df.drop_duplicates()
df.drop
df.shape
#tweet = df[cols[1]]

(3196, 5)

In [164]:
df[1]

0                                                    Text
1       Model 3 deliveries in Europe https://t.co/fiBN...
2       6,000+ Superchargers across Europe â€” at 600 lo...
3       RT @Fogdo : Thank you @Tesla for this helpful ...
4       Backseat views from Model Y\n\nðŸ“¸ by loghi007 o...
                              ...
3191                    @Standohar This picture is great.
3192    @JasonGFox @seansparkman Have either of you ha...
3193     @jblood Have you had a chance to sit in one yet?
3194    RT @elonmusk : Edmunds beats Tesla LA-NY recor...
3195    @sirrobsonp Stay tuned for our Gen III car in ...
Name: 1, Length: 3196, dtype: object

SyntaxError: cannot assign to function call (<ipython-input-175-1ed222c485d3>, line 6)

In [138]:
df.head()

,0,1,5,6,4
0,Tweet Id,Text,Created At,Favorites,sirrobsonp Stay tuned for our Gen III car in a...
1,1377618168705859585,Model 3 deliveries in Europe https://t.co/fiBN...,Thu Apr 01 13:45:40 +0000 2021,24152,sirrobsonp Stay tuned for our Gen III car in a...
2,1375118425362628613,"6,000+ Superchargers across Europe â€” at 600 lo...",Thu Mar 25 16:12:35 +0000 2021,51615,sirrobsonp Stay tuned for our Gen III car in a...
3,1374481774714126338,RT @Fogdo : Thank you @Tesla for this helpful ...,Tue Mar 23 22:02:46 +0000 2021,0,sirrobsonp Stay tuned for our Gen III car in a...
4,1371884988371771399,Backseat views from Model Y\n\nðŸ“¸ by loghi007 o...,Tue Mar 16 18:04:04 +0000 2021,44971,sirrobsonp Stay tuned for our Gen III car in a...

# split data

# create a model

# Train model

# Make Prediction

# Evaluate and improve the model